<h1>Tableau de Bord</h1>
<router-outlet></router-outlet>
<div class="group_function">
  <h3>Analyse Météo</h3>
  <button><a routerLink="/phytosanitaryForm">Analyse météo pour épandage phytosanitaire</a></button>
  <button><a routerLink="/fertilizerForm">Analyse météo pour épandage engrais</a></button>
  <button disabled><a >Analyse météo pour fenaison</a></button>
</div>
<div class="group_function">
  <h3>Autres Fonctionalités disponibles ulterieurement</h3>
</div>
<app-cereales></app-cereales>

